.headline {
    font-weight: 300;
    font-size: 1.9rem;
    color: $mainBlue;

    @mixin atSmall {
        font-size: 2.875rem;
    }

    &--centered {
        text-align: center;
    }

    &--small {
        font-size: 1.3rem;

        @mixin atSmall {
            font-size: 1.87rem;
        }
    }

    &--narrow {
        max-width: 30ch;
        margin-left: auto;
        margin-right: auto;
    }

    &--light {
        font-weight: 100;
    }

    &--orange {
        color: $mainOrange;
    }

    &--white {
        color: #fff;
    }

    &--b-margin-small {
        margin-bottom: 0.5em;
    }

    &--b-margin-large {
        margin-bottom: 1.6em; 
    }

    &--no-t-margin {
        margin-top: 0;
    }

    &--no-t-b-margin {
        margin-top: 0;
        margin-bottom: 0;
    }
}

.section-title {
    font-size: 2.5rem;
    font-weight: 300;
    text-align: center;
    margin-top: 0;

    @mixin atSmall {
        font-size: 3.75rem;
    }

    strong {
        font-weight: 500;
    }

    &--blue {
        color: $mainBlue;
    }

    /* Icons in Titles in Features, Testimonials */
    &__icon {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: .6em;
        max-width: 12vw;

        @mixin atSmall {
            display: inline;
            position: relative;
            top: .65em;
            margin-right: 1rem;
        }
    }

    /* Chat Bubble Icon */
    &__icon-chat {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: .5em;
        max-width: 12vw;

        @mixin atSmall {
            display: inline-block;
            position: relative;
            top: .8em;
            margin-right: 1rem;
        }
    }
}